<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<div ng-controller="ChatForumCtrl as cont">
<div class="row" style="min-height:500px;">
	<div class="col-sm-8 col-sm-offset-2">
	<div ng-repeat="msg in cont.messages">
		<div class="media img-rounded" ng-if="currentUser.id==msg.username" style="color:blue;background-color: white;">
		  <div class="media-left">
		    <img src="http://placehold.it/50x50" class="media-object">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>{{msg.username}}</i></h4>
		   	<p>{{msg.message}}</p>
		  </div>
		  <div class="media-right media-bottom" >
		 	<time>{{msg.time|date:'HH:mm'}}</time>
		  </div>
		</div>
	
		<div class="media" ng-if="currentUser.id!=msg.username">
		 	<div class="media-left">
		    <img src="http://placehold.it/50x50" class="media-object">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>{{msg.username}}</i></h4>
		   	<p>{{msg.message}}</p>
		  </div>
		  <div class="media-right media-bottom">
		 	<time>{{msg.time|date:'HH:mm'}}</time>
		  </div>
		</div>
	<hr>
	</div>
	</div>
</div>
<div class="row" style="min-height:20px; bottom: 0px;">
	<form ng-submit="cont.addMessage(currentUser.id)">
		<div class="col-sm-6 col-sm-offset-2">
		<input type="text" class="form-control" ng-model="cont.message">
		</div>
		<div class="col-sm-2">
		<input class="btn btn-success btn-block" type="submit" value="send">
		</div>
	</form>
</div>
</div>
</body>
</html>