<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid" ng-controller="JobCont as cont" ng-init="cont.alljobsapplied()">
	<br>
	<div class="col-md-8 col-md-offset-2">
	<div class="jumbotron">
		<h3 class="text-center">All Jobs Applied</h3>
		<table class="table table-stripped table-hover">
			<thead>
				<tr>
					<th>Job ID</th>
					<th>User ID</th>
					<th>Status</th>
					<th>Date Applied</th>
				</tr>
			</thead>
			<tbody ng-repeat="job in cont.alljob">
				<tr>
					<td>{{job.jobid}}</td>
					<td>{{job.userid}}</td>
					<td>{{job.status}}</td>
					<td>{{job.dt| date}}</td>
					<td><input class="btn btn-success btn-block" type="submit" value="Accept" ng-click="cont.updatestatus(job,'Accept')"></td>
					<td><input class="btn btn-danger btn-block" type="submit" value="Reject" ng-click="cont.updatestatus(job,'Reject')"></td>
				</tr>
			</tbody>
			</table>
	</div>
	</div>
</div>
</body>
</html>