<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
</head>
<body>
<div class="container" ng-controller="ProfCont as cont">
<div class="row" style="margin-left: 2px; margin-bottom: 15px; margin-top: 15px" ng-init="cont.reload()">
	<div class="alert alert-success" ng-show="cont.photomsg">Image Successfully uploaded</div>
	<div class="col-md-3">
			<img ng-src="http://placehold.it/250x250" class="media-object img-rounded" ng-show="!currentUser.img">
			<img style="height:250px; width: 250px" ng-src="./resources/Images/{{currentUser.id}}.jpg" class="media-object img-rounded" ng-show="currentUser.img">
	</div>
	<div class="col-md-6">
			<h2 class="media-heading">{{currentUser.name}} ,<small>{{currentUser.role}}</small></h2>
			<h3>
			ID: {{currentUser.id}}<br>
			Status: {{currentUser.status}}<br>
			Gender : {{currentUser.gender}}<br>
			D.O.B: {{currentUser.dob | date: dd/MM/yyyy}}<br>
			Number : {{currentUser.ph_numb}}<br>
			E-mail: {{currentUser.email}}<br>
			</h3>
			
			<div ng-show="showTag" class="input-group">
					<div class="input-group-addon">
					<input type="file" upload-photo="cont.userPhoto">
					</div>
					<div class="input-group-btn" style="height: 25px">
					<input type="submit" class="btn btn-info" value="Upload" ng-click="cont.imageupload()">
					</div>
			</div>
	</div>
	<div class="col-md-2 col-offset-3">
		<input type="submit" class="btn btn-warning btn-block" value="Edit Profile" ng-click="cont.updatepage()">
		<input type ="submit" class="btn btn-info btn-block" ng-click="showTag = !showTag" value="Update Photo">

	</div>
	<!-- 
	<div class="col-md-2">
	<br><br><br>
		<input type="submit" class="btn btn-block btn-primary" value="Edit">
		<input type="submit" class="btn btn-block btn-danger" value="Delete">
	</div>
	 -->
</div><!-- End profile view -->
<div class="col-md-3">
<ul class="nav nav-pills nav-stacked">
  <li><a ui-sref="profile.newfriends" >Friends</a></li>
  <li><a ui-sref="profile.chatforum">Chat Forum</a></li>
  <li ng-hide="currentUser.role=='Admin'"><a ui-sref="profile.job">My Jobs</a></li>
</ul>
</div><!-- End internal navbar -->
<div class="col-md-9 jumbotron" ui-view>
</div>
</div>
</body>
</html>